* {
    padding: 0;
    margin: 0;
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  width: 300px;
  height: 300px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
    background-color: #fff;
}

.card img {
    width: 200px;
    height: 200px;
  /* max-width: 100%; */
  border-radius: 8px;
  margin-bottom: 5px;
  object-fit: cover;
  
}

.overlay {
  /* position: absolute; */
  /* top: 0;
  left: 0; */
  width: 300px;
  height: 300px;
  background-color: grey;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.3;
  transition: opacity 0.3s ease;
  border-radius: 8px;
}