* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: rgb(231, 229, 229);
   
    height: 100vh;
    width: 100%;
    flex-wrap: wrap;
}

.header-div {
     padding-top:20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.stateList {
    display: flex;
    gap: 20px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    
}

.state-card{
background-color: white;
width: 200px;
height: 200px;
border: 1px solid #ddd;
padding: 10px;
margin-Bottom: 10px;
border-Radius: 15px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 20px;
}

.state-card:hover {
    transform: scale(1.2);
    margin: 10px;
   
}