.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.timer-container {
    display: flex;
    flex-direction: column;
    background-color:white;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.time {
    display: flex;
    font-weight: bold;
    font-size: 55px;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;
    gap: 30px;
}
button{
    width: 200px;
    height: 30px;
    border-radius: 5px;
}