.profile {  
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
    color: green;  
}

.profile img {
    width: 150px;
    height: 150px;
    border-radius: 15px;
    margin-bottom: 15px;
}