* {
    padding: 0;
    margin: 0;
}
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #f3f4f6, #dbeafe);
  font-family: "Poppins", sans-serif;
  color: #1e293b;
}

.timer-container {
  background-color: #ffffff;
  padding: 2rem 3rem;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.time {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 1rem 0;
}

.date-input {
  margin-top: 1rem;
}

.input {
  padding: 0.5rem;
  border-radius: 10px;
  border: 1px solid #94a3b8;
  outline: none;
  margin-left: 0.5rem;
}
